<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="./static/style.css" rel="stylesheet" />
  <link href="../static/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
  <script src="./static/script.js" defer></script>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col">
        <h1>Emotiv Sales Dashboard</h1>
      </div>
    </div>

    <div class="row h-100" id="mainContainer">
      <div class="col-2 d-flex flex-column justify-content-start">
        <div>
          <h4>Filter by</h4>
          <div class="filterSelector">

            <label for="yearFilter">Year</label>
            <select class="form-select" id="yearFilter">
              <option value="all">All Years</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
            </select>
          </div>
        </div>

        <div class="filterSelector">
          <label for="productFilter">Product</label>
          <select class="form-select form-select" id="productFilter">
            <option value="all">All Products</option>
          </select>
        </div>

        <div class="filterSelector">
          <label>Branch</label>
          <select class="form-select" id="branchFilter">
            <option value="all">All Branches</option>
            <option>New York</option>
            <option>Shanghai</option>
            <option>Cairo</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="d-flex">
            <div class="card me-2" style="width: 150px;">
              <div class="card-body">
                <h5 class="card-title" id="totalSales"></h5>
                <p class="card-text text-black-50">Total Sales</p>
              </div>
            </div>
            <div id="productSalesByItem" class="d-flex">

            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <div id="trendChart" class="charts"></div>
          </div>
          <div class="col-6 d-flex align-items-center">
            <div id="salesByGenderChart" class="charts"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div id="soldToChart" class="charts"></div>
          </div>
          <div class="col-6">
            <div id="ratesByGenderChart" class="charts"></div>
          </div>


        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

    </script>

</body>

</html>